<!doctype html>
<html lang="en">

<head>
	<meta charset="utf-8" />
	<title>Application Confirmation</title>
	<style>
		body {
			background-color: lightblue;
			font-family: Georgia, serif;
		}
	</style>
</head>

<body>
	<h1>Applicants Data</h1>
	<div>
		<strong>Name: </strong><%- name %><br><br>
		<strong>Email Address: </strong><%- email %><br><br>
		<strong>GPA: </strong><%- gpa %><br><br>
        <strong>Year: </strong><%- year %><br><br>
        <strong>Personality Type: </strong><%- type %><br><br>
        <strong>You're taking the class because: </strong><%- reason %><br><br>
        <strong>Background Information: </strong>
		<br><br>
		<%- comment %>

		<br><br>
		<strong>List of Students Enrolled in Class: </strong><br>
		<%- table %><br>
	</div>
</body>

</html>
